{
  "default": {
    "DATADOG_API_KEY": ""
  },
  "dev": {
    "NODE_ENV": "development",
    "REMOTE_WEB": "http://localhost:4000"
  },
  "stagex": {
    "NODE_ENV": "development",
    "REMOTE_WEB": "http://localhost:4000"
  },
  "prod": {
    "NODE_ENV": "production",
    "REMOTE_WEB": "http://localhost:4000"
  }
}
